<%# ユーザーの投稿詳細文を表示 %>
<div class="container">
  <div class="row justify-content-between" style="margin-top:20px; margin-bottom:20px;">
    <div class="row d-flex justify-content-start align-items-center font-weight-bold" style="font-size:20px; height:40px;">
      <%= @post.customer.name %>さんの投稿
    </div>
    <% if @post.customer == current_customer || current_customer.admin? %>
      <div class="d-flex justify-content-center align-items-center border border-dark bg-danger" style="margin-top:5px; margin-right:20px; height:25px; width:90px; border-radius:0.5em; font-size:12px;">
        <%= link_to "投稿を削除", public_post_path, method: :delete %>
      </div>
    <% end %>
  </div>
  <div class="row d-flex align-items-start" style="width:560px; margin-bottom:10px;">
    <div class="col-2">
      <div><%= image_tag @post.customer.avater_image.variant(resize: "65x65^", gravity: "center", crop: "65x65+0+0").processed, style: "border-radius: 50%;" %></div>
    </div>
    <div class="col-9">
      <div>
        <%= @post.customer.name %>
      </div>
      <div class="text-break">
        <%= @post.blog %>
      </div>

      <div class="row d-flex align-items-center" style="margin-left:3px;">
          <div>
            <% if @post.favorited_by?(current_customer) %>
              <div>
                <%= link_to public_post_favorites_path(@post), method: :delete do %>
                  ♥<%= @post.favorites.count %> いいね
                <% end %>
              </div>
            <% else %>
              <div>
                <%= link_to public_post_favorites_path(@post), method: :post do %>
                  ♡<%= @post.favorites.count %> いいね
                <% end %>
              </div>
            <% end %>
          </div>

          <div style="margin-left:80px;">
            <% if @post.shared_by?(current_customer) %>
            <div>
              <%= link_to public_post_shares_path(@post), method: :delete do %>
                <%= @post.shares.count %> 共有
              <% end %>
            </div>
          <% else %>
            <div>
              <%= link_to public_post_shares_path(@post), method: :post do %>
                <%= @post.shares.count %> 共有
              <% end %>
            </div>
          <% end %>
          </div>
        </div>
      </div>

    <div class="col-12 border-top border-bottom" style="margin-top:15px; margin-bottom:10px; padding-top:15px; padding-left:30px; padding-bottom:10px;">
      <%= form_with model: [@post, @post_comment], url: public_post_post_comments_path(@post) do |f| %>
        <%= f.text_area :comment_text, placeholder: "コメントをここに", style: "width:390px;" %>
        <%= f.submit "送信する", style: "margin-left:30px;" %>
      <% end %>
    </div>
    <% @post.post_comments.each do |post_comment| %>
    <div class="row col-12 border-bottom" style="margin-left:0px; margin-bottom:10px; padding-bottom:10px;">
      <div class="col-2">
        <div><%= image_tag post_comment.customer.avater_image.variant(resize: "65x65^", gravity: "center", crop: "65x65+0+0").processed, style: "border-radius: 50%;" %></div>
      </div>
      <div class="col-9">
        <div>
          <%= post_comment.customer.name %>
          <%= post_comment.created_at.strftime('%Y/%m/%d') %>
          <% if post_comment.customer == current_customer %>
            <%= link_to "削除", public_post_post_comment_path(post_comment.post, post_comment), method: :delete %>
          <% end %>
        </div>
        <div class="text-break">
          <%= post_comment.comment_text %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>