
<%= form_with model: @customer, url: customer_registration_path, id: 'new_customer', class: 'new_customer', method: :post do |f| %>
  <%= render "public/shared/error_messages", resource: resource %>

<div class="container">
  <div style="margin-top:30px; margin-bottom:50px;">
    <div class="row d-flex justify-content-center align-items-center border font-weight-bold" style="font-size:20px; height:40px; width:150px;">新規登録</div>
  </div>

  <div class="form-group form-inline row font-weight-bold">
    <%= f.label :名前, class: "col-3 d-flex justify-content-start" %>
    <div class="field col-7">
      <%= f.text_field :name, class: "col-auto form-control form-control-lg w-100" %>
    </div>
  </div>

  <div class="form-group form-inline row font-weight-bold">
    <%= f.label :自己紹介, class: "col-3 d-flex justify-content-start" %>
    <div class="field col-7">
      <%= f.text_area :introduction, class: "col-auto form-control form-control-lg w-100" %>
    </div>
  </div>

  <div class="form-group form-inline row font-weight-bold">
    <%= f.label :メールアドレス, class: "col-3 d-flex justify-content-start" %>
    <div class="field col-7">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "col-auto form-control form-control-lg w-100" %>
    </div>
  </div>

  <div class="form-group form-inline row font-weight-bold">
    <%= f.label :"パスワード(6文字以上)", class: "col-3 d-flex justify-content-start" %>
    <div class="field col-7">
      <% if @minimum_password_length %>
      <% end %>
      <%= f.password_field :password, autocomplete: "new-password", class: "col-auto form-control form-control-lg w-100" %>
    </div>
  </div>

  <div class="form-group form-inline row font-weight-bold">
    <%= f.label :"パスワード(確認用)", class: "col-3 d-flex justify-content-start" %>
    <div class="field col-7">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "col-auto form-control form-control-lg w-100" %>
    </div>
  </div>

  <div class="actions col-5 font-weight-bold" style="margin-left:55px;">
    <%= f.submit "新規登録", class: "offset-6 btn btn-success w-50", style: "font-size:20px;" %>
  </div>
  <div class="row d-flex justify-content-center align-items-center border font-weight-bold" style="margin-top:30px; font-size:20px; height:40px; width:210px;">
    既に登録済みの方
  </div>
  <div class="lead font-weight-bold" style="margin-top:20px;">
    <%= link_to "こちら", new_customer_session_path, class: "offset-1" %>　からログインしてください。
  </div>
</div>
<% end %>
